
  <div class="wrapper">
      <div class="container-fluid">
          <!-- Your main content goes here -->
      </div>
      <footer class="footer">
          <p>Made with ❤️ by Fa</p>
      </footer>
  </div>

</body>
</html>
