<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> Hi!👋 </p>
    <p>I'm a person who like to write his/her journal. If you are the same see <a href="https://github.com/farzaddm/daily-journal.git">github project</a> to use this website as well.</p>
<%- include("partials/footer"); -%>
